<!-- <div class="notification is-danger">
  <button class="delete"></button>
  Danger lorem ipsum dolor sit amet, consectetur
  adipiscing elit lorem ipsum dolor sit amet,
  consectetur adipiscing elit
</div> -->
